<!-- 博客首页 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="<%=webstatic%>css/reset.css">
    <link rel="stylesheet" href="<%=webstatic%>css/index.css">
</head>
<body>
    <div class="content ">
        <div class="content-inner">
            <div class="header">
                    <a href="#"><h1>阮一峰的个人网站</h1></a>
                    <p>Ruan Yifeng's Personal Website</p>
            </div>
            <div class="center">
                <div class="center-list">
                        <a href="<%=host+'blog'%>">» <span>网络日志（Blog）<span></a>
                        <a>» <span>文集：未来世界的幸存者</span></a>
                        <a>» <span>文集：前方的路</span></a>
                </div>
            </div>
            <div class="footer">
                <p><a href="<%=host+'support/contact'%>">Contact</a> | ruanyifeng.com</p>
            </div>
        </div>
        <div class="up-arrow"></div>
    </div>
</body>
</html>