html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li, tt,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:left;
 text-decoration:none;
 border-bottom:none;
 font-weight:normal;
 font-style:normal;
 border:none;
 
}


/* Basic Styling */

body {
       margin:0;
       padding:0;
       background-color: #f5f5d5 ;
       font-family: Georgia, serif;
       letter-spacing: -0.01em;
       word-spacing:0.2em;
       line-height: 1.8em;
       font-size:62.5%;
       width:98%;
}



@media (max-width: 30rem) {
body{
  font-size: 60%;
}
}

h1{
     font-size:2.88em;
}

h2 {
font-size:2.88em;
line-height: 1.35em;
}

@media (max-width: 30rem) {
h2{
  font-size: 2em;
}
}

h3{
     font-size:1.87em;
}

h4{
     font-size:1.5em;
}

ul li {
     list-style-type: square; }

ol li {
     list-style-type: decimal;
     list-style-position:inside; }


     
strong{
font-weight:800; 
}

p,li{
font-size:1.6em;
line-height:220%;
} 

input,textarea{
font-size:1.13em;
}

select,button{
font-size:1.03em;
}

.fl{
  float: left;
}
.fr{
 float: right; 
}
.clearfix:after{
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear:both;
}
.margin-l-1em{
  margin-left: 1em!important;
}
